certifi==2021.10.8
charset-normalizer==2.0.9
distlib==0.3.4
docopt==0.6.2
filelock==3.4.2
idna==3.3
pipenv==2021.11.23
pipreqs==0.4.11
platformdirs==2.4.1
requests==2.26.0
urllib3==1.26.7
virtualenv==20.11.0
virtualenv-clone==0.5.7
yarg==0.1.9
gunicorn==20.1.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.29
psycopg2==2.9.2
psycopg2-binary==2.9.2
Flask-WTF==0.14.2